{% load i18n %}
{% load static %}
<!-- services section -->
<section id="services" class="section intro services service-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="page_head">{% trans "Features" %}</h1>
        <br>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-key"></span>
        <div class="services-content">
          <h5>{% trans "Gestione Credenziali" %}</h5>
          <p>{% trans "Sistema integrato per la gestione e il monitoraggio dello stato delle tue credenziali." %}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-pencil"></span>
        <div class="services-content">
          <h5>{% trans "Modifica i tuoi dati" %}</h5>
          <p>{% trans "E-mail personale e numero telefonico possono essere modificati in piena autonomia." %}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-megaphone"></span>
        <div class="services-content">
          <h5>{% trans "Notifiche" %}</h5>
          <p>{% trans "Ricezione email di conferma ad operazione avvenuta." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section -->
