{% load i18n %}
{% load static %}
<!-- modals -->
<div class="ui basic modal" id="modal_cr">
  <div class="header" style="text-align: center">{% trans "Residential Center" %}</div>
  <div class="image content">
    <img width="100%" src="{% static 'images/centro_residenziale_unical.jpg' %}">
  </div>
  <div style="text-align: center" class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Chiudi
    </div>
  </div>
</div>

<div class="ui basic modal" id="modal_ict">
  <div class="header" style="text-align: center">{% trans "University ICT Center" %}</div>
  <div class="image content">
    <img width="100%" src="{% static 'images/centro_ict.jpg' %}">
  </div>
  <div style="text-align: center" class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Chiudi
    </div>
  </div>
</div>

<div class="ui basic modal" id="modal_guest">
  <div class="header" style="text-align: center">guest.unical.it</div>
  <div class="image content">
    <img width="100%" src="{% static 'images/centro_ict.jpg' %}">
  </div>
  <div style="text-align: center" class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Chiudi
    </div>
  </div>
</div>


<div class="ui basic modal" id="modal_rpd">
  <div class="header" style="text-align: center">{% trans "Data protection officer" %}</div>
  <div class="image content">
    <img width="100%" src="{% static 'images/rpd.jpg' %}">
  </div>
  <div style="text-align: center" class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Chiudi
    </div>
  </div>
</div>
<!-- modals -->

<!-- our team section -->
<section id="teams" class="section intro teams">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="page_head">{% trans "Contacts" %}</h1>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"><img id="img_cr" src="{% static 'images/centro_residenziale_unical.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>{% trans "Ufficio immatricolazioni" %}</h4>
            <h5 class="role">{% trans "Studenti in ingresso" %}</h5>
            <p>{% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="http://www.unical.it/portale/strutture/centri/residenziale/" class=""><i class="linkify icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="map marker alternate icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="phone icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="envelope outline icon"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img id="img_ict" src="{% static 'images/centro_ict.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>{% trans "ICT Center" %}</h4>
            <h5 class="role">{% trans "Help-desk" %}</h5>
            <p>{% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="http://www.unical.it/portale/strutture/centri/centroict/" class=""><i class="linkify icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="map marker alternate icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="phone icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="envelope outline icon"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img id="img_guest" src="{% static 'images/aula-magna-unical.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>{% trans "Access for guests" %}</h4>
            <h5 class="role">{% trans "Temporary access to the campus" %}</h5>
            <p>{% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="https://guest.unical.it" class=""><i class="linkify icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="map marker alternate icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="phone icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="envelope outline icon"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img id="img_rpd" src="{% static 'images/rpd.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>{% trans "RPD" %}</h4>
            <h5 class="role">{% trans "Data Protection Officer" %}</h5>
            <p>{% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="http://www.unical.it/portale/ateneo/privacy/" class=""><i class="linkify icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="map marker alternate icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="phone icon"></i></a></li>
            <li><a href="mailto:" class=""><i class="envelope outline icon"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our team section -->
