django>=2.2.9,<3.0
ipython
django-model-utils
mysqlclient
uwsgi

bcrypt
# nt hashing dep
passlib
git+https://github.com/peppelinux/pySSHA-slapd.git

#Bootstrap Italia + Unical template
libsass
django-sass-processor
django_compressor
git+https://github.com/italia/design-django-theme.git
git+https://github.com/UniversitaDellaCalabria/django-unical-agid-template.git

#Django form builder
#git+https://github.com/UniversitaDellaCalabria/django-form-builder.git
django-form-builder>=0.8.0

# ldap storage
# apt install libsasl2-dev python3-dev libldap2-dev libssl-dev
#git+https://github.com/django-ldapdb/django-ldapdb.git
git+https://github.com/peppelinux/django-ldapdb.git

# ldap peoples
git+https://github.com/peppelinux/django-ldap-academia-ou-manager.git
django_admin_multiple_choice_list_filter

# rangefilter
git+https://github.com/silentsokolov/django-admin-rangefilter.git

chardet
pycountry

# Oracle CSA support
cx_Oracle

# SQL Alchemy
sqlalchemy

# tests
BeautifulSoup4
