{% extends "page.html" %}

{% load i18n %}
{% load static %}


{% block container_content %}

<!-- contact section -->
<section class="section text-center">

  <div class="container">
        <h1>{% trans "Create a new Unical ID Account" %}</h1>
        <p class="mb-5">{% trans "Insert the requested informations, a confirmation email will be sent to you." %}</p>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p>{% trans "Some Errors has occourred" %}</p>
                      {% for k,v in form.errors.items %}
                          <span class="text-align: left;"><b>{{ k }}</b>:</span>
                              {% for error in v %}
                                <span class="errorlist">{{ error|escape }}</span>
                              {% endfor %}
                      {% endfor %}
                    </div>
                    <br>
                {% endif %}

                <form method="post" action="{% url 'registration:ask' %}" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-group">
                    {% for field in form %}
                        <div class="bootstrap-select-wrapper form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span>{{ field.errors }}</span>
                        </div>
                    {% endfor %}

                    {% block agreement %}
                    <div class="container">
                      <div class="row">
                        <div class="border-bottom border-light w-100 text-left">
                          <div class="form-check">
                            <p>{% trans "By submitting this form I declare that I have read the data ..." %}</p>
                            <input id="checkbox1" type="checkbox" required>
                            <label for="checkbox1">
                                {% trans "I have read the ..." %}
                            </label>
                          </div>
                          </div>
                          <div class="border-bottom  border-light w-100 text-left">
                          <div class="form-check">
                            <p>{% trans "By submitting this form I declare that I have read the data ..." %}</p>
                            <input id="checkbox2" type="checkbox" required>
                            <label for="checkbox2" class="col-xs-4 control-label">
                                {% trans "I have read the ..." %}
                            </label>
                          </div>
                          </div>
                        </div>
                    </div>
                    {% endblock %}

                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-5">
                          {{ form_captcha }}
                        </div>
                      </div>
                    </div>

                    </div>
                    <input type="submit" class="btn btn-secondary btn-block" value="{% trans 'Submit' %}">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->
{% endblock container_content %}
