{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block nav_bar %}
{% endblock %}

{% block container_content %}
<section id="services" class="section section-muted text-center" style="background-image: url({% static 'images/banner.jpg' %}); background-size: cover;">
    <div class="container">
    <h2 class="ui error bg-white">{% trans "Page or Resource not found 404" %}</h2>

    <a href="/" class="btn btn-secondary">{% trans "Go back" %}</a>
    </div>
</section>
{% endblock %}

{% block page_content %}
{% endblock %}
