{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block container_content %}
<div class="container">
    <div class="col-12 py-md-5 bd-content">
        <div class="callout info mt-5">
            <div class="callout-title">
                <svg class="icon icon-primary icon-info">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-warning-circle"></use>
                </svg> {{ title }}</div>
            <p>
                {{ avviso|safe }}
                {% if description %}
                    <p>{{ description|safe }}</p>
                {% endif %}
                <hr>
                <a role="button" class="btn btn-outline-secondary"
                   href="javascript:history.back()">
                    {% trans "Back" %}
                </a>
                <a role="button" class="btn btn-outline-secondary"
                   href="{% url 'provisioning:home' %}">
                    {% trans "Main page" %}
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock container_content %}
