{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block page_content %}
<section id="login" class="section intro ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm ui form">

        <h1 class="ui error">{{ title }}</h1>
        <h2>{{ avviso|safe }}</h2>
        {% if description %}
            <p>{{ description|safe }}</p>
        {% endif %}

        <a href="javascript:history.back()">
          <div class="ui button">
            <i class="reply icon"></i>
                {% trans "Back" %}
          </div>
        </a>

        <a href="{% url 'provisioning:home' %}">
          <div class="ui button">
            <i class="home icon"></i>
                {% trans "Main page" %}
          </div>
        </a>

     </div>
  </div>
</section>
{% endblock page_content %}
