{% extends "base.html" %}

{% load provisioning_tags %}
{% load i18n %}
{% load static %}

{% block container_content %}
<section id="services" class="section section-muted text-center" style="background-image: url({% static 'images/banner.jpg' %}); background-size: cover;">
    <div class="container">
        <h1 class="no_toc text-white">Unical <span class="text-secondary">Id</span>entity <span class="text-secondary">M</span>anager</h1>
        <p class="d-none d-lg-block text-white">{% trans "Platform for managing access credentials to Unical services" %}</p>

        <div class="it-btn-container d-none d-md-block">
            <a class="btn btn-lg btn-secondary" href="{% login_url %}">{% trans "Login" %}</a>

            {% new_identity_requestable request as registration %}
            {% if registration %}
                <a class="btn btn-lg btn-primary" href="{% url 'registration:ask' %}">{% trans "Create Account" %}</a>
            {% endif %}
        </div>

    </div>
</section>

{% include "sezione_protezione_dati.html" %}
{% include "sezione_funzionalita.html" %}
{% include "sezione_team.html" %}
{% include "sezione_recupero_credenziali.html" %}

<!-- contact section -->
{% endblock container_content %}
