{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block nav_bar %}
{% endblock %}

{% block container_content %}
<section id="services" class="section section-muted text-center" style="background-image: url({% static 'images/banner.jpg' %}); background-size: cover;">
    <div class="container">
    <h2 class="ui error bg-white">{% trans "Maintenance" %}</h2>

    <h4 class="bg-white">{% trans "This service is under maintenance" %}</h4>

    <p class="bg-white">{% trans "We apologize for the temporary inconvenience, we will soon start working again." %}</p>

    </div>
</section>
{% endblock %}

{% block page_content %}
{% endblock %}
