{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'provisioning:home' %}">
            <span>{% trans "Home page" %}</span>
        </a>
    </li>
    {% if request.user.is_superadministrator or request.user.is_staff %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">
            <span>{% trans "Admin" %}</span>
        </a>
    </li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'provisioning:provisioning_logout' %}?next={{ request.path }}">
            <span>{% trans "Logout / Esci" %}</span>
        </a>
    </li>
    {% endif %}
{% endblock menu_links %}
