{% load i18n %}
{% load static %}

<!-- contact section -->
<section id="login" class="section section-muted text-center">
    <div class="container">
        <h2>{% trans "Accesso alla piattaforma" %}</h2>
        <p class="mb-5">{% trans "Utilizza lo username e la password della tua Identità Digitale di Ateneo." %}</p>
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
                <form method="post" action="{% url 'provisioning:provisioning_login' %}" class="needs-validation" novalidate>
                    {% include "form_body.html" with form=login_form %}
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Login' %}">
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    <div id="simple-msg"></div>
                </form>
            </div>
        </div>
    </div>
</section>

