{% load i18n %}

<!-- contact section -->
<section id="password-dimenticata" class="section text-center">
    <div class="container">
        <h2>{% trans "Recupera le tue credenziali" %}</h2>
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <p class="mb-5">
                    {% trans "Utilizza lo username e il tuo recapito email, precedentemente registrato in Unical ID, per ottenere un accesso temporaneo per la modifica della tua password." %}
                </p>
                <form method="post" action="{% url 'provisioning:reset_password_ask' %}" class="needs-validation" novalidate>
                    {% include "form_body.html" with form=password_reset_form %}
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Invia la richiesta' %}">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->

