{% load i18n %}
{% load static %}

<section id="team" class="section text-center">
    <div class="container">
        <h2 class="text-center mb-5">{% trans "Contatti" %}</h2>

        <div class="row">
            <div class="col-md-3">
                <!--start card-->
                <div class="card-wrapper">
                    <div class="card no-after">
                        <div class="card-body">
                            <h6>{% trans "Ufficio immatricolazioni" %}</h6>
                            <p>{% trans "Studenti in ingresso" %}</p>
                            <div class="text-center">
                                <img src="{% static 'images/centro_residenziale_unical.jpg' %}" class="rounded-circle mb-3" style="max-width:70%" alt="...">
                            </div>
                            <p class="card-text">
                                {% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}
                            </p>
                            <a href="https://guest.unical.it" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-link"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pin"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-telephone"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-mail"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>

            <div class="col-md-3">
                <!--start card-->
                <div class="card-wrapper">
                    <div class="card no-after">
                        <div class="card-body">

                            <h6>{% trans "ICT Center" %}</h6>
                            <p>{% trans "Help-desk" %}</p>
                            <div class="text-center">
                                <img src="{% static 'images/centro_ict.jpg' %}" class="rounded-circle mb-3" style="max-width:70%" alt="...">
                            </div>
                            <p class="card-text">

                            {% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}</p>
                            <a href="https://guest.unical.it" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-link"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pin"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-telephone"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-mail"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>

            <div class="col-md-3">
                <!--start card-->
                <div class="card-wrapper">
                    <div class="card no-after">
                        <div class="card-body">
                            <h6>{% trans "Access for guests" %}</h6>
                            <p>{% trans "Temporary access to the campus" %}</p>
                            <div class="text-center">
                                <img src="{% static 'images/aula-magna-unical.jpg' %}" class="rounded-circle mb-3" style="max-width:70%" alt="...">
                            </div>
                            <p class="card-text">
                                {% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}
                            </p>
                            <a href="https://guest.unical.it" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-link"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pin"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-telephone"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-mail"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>

            <div class="col-md-3">
                <!--start card-->
                <div class="card-wrapper">
                    <div class="card no-after">
                        <div class="card-body">
                            <h6>{% trans "RPD" %}</h6>
                            <p>{% trans "Data protection officer" %}</p>
                            <div class="text-center">
                                <img src="{% static 'images/rpd.jpg' %}" class="rounded-circle mb-3" style="max-width:70%" alt="...">
                            </div>
                            <p class="card-text">
                                {% trans "Definere cosa fa la struttura, a chi si rivolge e a cosa serve in relazione dell'IDM." %}
                            </p>
                            <a href="https://guest.unical.it" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-link"></use>
                                    </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pin"></use>
                                    </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-telephone"></use>
                                </svg>
                            </a>
                            <a href="mailto:" class="text-decoration-none">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-mail"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
        </div>
    </div>
</section>
<!-- services section -->
