.password-icon {
    background: none;
    margin-right: 30px;
}

.card .card-body p,
.card .card-body p.card-text,
.callout p {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}

.section {
    padding: 80px;
}
