{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block container %}
<!-- contact section -->
<section id="login" class="section intro">
    <div class="container">
        <h5>{% trans "Welcome in" %} {{ APP_NAME|default_if_none:"Unical ID" }}</h5>
        <p>{% trans "Please fill this form to create your brand new account." %}</p>
        <div id="message">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </div>
        <form method="post" action="#" name="cform" class="idm_form">
          {% csrf_token %}
          <table >
            {{ form }}
          </table>
          <input type="submit" id="submit_login" name="send" class="submitBnt btn btn-large" value="{% trans 'Save' %}">
          <div id="simple-msg"></div>
        </form>
    </div>
</section>
<!-- contact section -->
{% endblock container %}
