{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
<li class="nav-item active">
    <a class="nav-link" href="/" data-attribute="forward" class="forward" aria-hidden="true">
        <span>{% trans "Main page" %}</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#modify" data-attribute="forward" class="forward" aria-hidden="true">
        <span>{% trans "Modify" %}</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#data" data-attribute="forward" class="forward" aria-hidden="true">
        <span>{% trans "Attributes" %}</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#password" data-attribute="forward" class="forward" aria-hidden="true">
        <span>{% trans "Change Password" %}</span>
    </a>
</li>
{% if request.user.is_superadministrator or request.user.is_staff %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'admin:index' %}">
        <span>{% trans "Change Password" %}</span>
    </a>
</li>
{% endif %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'provisioning:provisioning_logout' %}?next={{ request.path }}">
        <span>{% trans "Logout / Esci" %}</span>
    </a>
</li>
{% endblock menu_links %}

{% block container %}
<!-- contact section -->
<section id="modify" class="section text-center">
  <div class="container">
        <h1>{% trans "Identity Management System" %}</h1>
        <h3>{% trans "Welcome " %} {{ lu.uid }}</h3>
        <p>{% trans "Here you can modify your profile" %}</p>
        <form method="post" action="{% url 'provisioning:change_deliveries' %}">
          <table >
          {% include "form_body.html" with form=form_profile %}
            </table>
            <div class="html ui top attached segment">
                <div class="ui top attached label">{% trans "Options" %}</div>
                <div class="ui toggle checkbox">
                  {{ form_profile.access_notification.errors }}
                  {{ form_profile.access_notification }}
                  {{ form_profile.access_notification.label_tag }}
                </div>
            </div>

          <input type="submit" id="submit_delivery" name="send" class="btn btn-lg btn-secondary" value="{% trans 'Save' %}">
          <div id="simple-msg"></div>
        </form>
  </div>
</section>
<!-- contact section -->

<!-- contact section -->
<section id="data" class="section section-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm ui form table-responsive">
        <h2>{% trans "Attributes" %}</h2>
        <p>{% trans "These would be also used as permissions and roles in third party web services." %}</p>
          <table class="ui very basic collapsing celled table"
                 style="width: 100%; background: white; padding: 13px;">
              <thead>
                  <tr>
                    <th>{% trans "Attribute name" %}</th>
                    <th>{% trans "Value" %}</th>
                  </tr>
              </thead>
              <tbody>
                {% for attr,value in attrs.items %}
                      <tr>
                        <td>{{ attr }}</td>
                        <td>{{ value|safe }}</td>
                      </tr>
                {% endfor %}
              </tbody>
          </table>
          <div id="simple-msg"></div>
      </div>
    </div>
  </div>
</section>
<!-- contact section -->

<!-- contact section -->
<section id="password" class="section intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm ui form">
        <h2>{% trans "Renew your Password" %}</h2>
        <p>{% trans "A confirmation email will be also sent." %}</p>
        <div id="message">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </div>
        <form method="post" action="{% url 'provisioning:change_password' %}" name="cform" class="idm_form">
          {% csrf_token %}
          <table >
            {{ form_password }}
          </table>
          <input type="submit" id="submit_password" name="send" class="submitBnt btn btn-large" value="{% trans 'Save' %}">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section -->
{% endblock container %}
