{% load i18n %}
{% load static %}

<!-- contact section -->
<section id="password" class="section text-center">
    <div class="container">
        <h2>{% trans "Renew your Password" %}</h2>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
                <p class="mb-5">{% trans "A confirmation email will be also sent." %}</p>
                <form method="post" action="{% url 'provisioning:change_password' %}" class="needs-validation" novalidate>
                    {% include "form_body.html" with form=password_reset_form %}
                    <input type="submit" id="submit_delivery" name="send" class="btn btn-secondary" value="{% trans 'Save' %}">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->
