{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block nav_menu %}
  <li><a href="/">{% trans "Main page" %}</a></li>
{% endblock nav_menu %}

{% block container_content %}
<!-- contact section -->
<section id="password_token" class="section text-center">
    <div class="container">
        <h1>{% trans "Identity Management System" %}</h1>
        <h4>{% trans "Welcome " %} {{ lu.uid }}</h4>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="mb-5">{% trans "Here you can renew your password. Remeber also to fill your username and email for check." %}</p>
                <form method="post" action="{% url 'provisioning:reset_password_token' token_value=token_value %}" class="needs-validation" novalidate>
                    {% include "form_body.html" %}
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Save' %}">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->
{% endblock container_content %}
