{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% block nav_menu %}
  <li><a href="/">{% trans "Main page" %}</a></li>
{% endblock nav_menu %}

{% block page_content %}
<!-- contact section -->
<section id="password_token" class="section intro ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm ui form">
        <h5>{% trans "Identity Management System" %}</h5>
        <h2>{% trans "Welcome " %} {{ lu.uid }}</h2>
        <p>{% trans "Here you can renew your password. Remeber also to fill your username and email for check." %}</p>
        <div id="message">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </div>
        <form method="post" action="{% url 'provisioning:reset_password_token' token_value=token_value %}" name="cform" class="idm_form">
          {% csrf_token %}
          <table style="width: 100%;">
              <tbody>
                {{ form }}
              </tbody>
          </table>
          <input type="submit" id="submit_password_token" name="send" class="submitBnt btn btn-large" value="{% trans 'Save' %}">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section -->
{% endblock page_content %}
